name: Build and Release

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    name: Build Windows App
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Install Windows 11 SDK
      shell: powershell
      run: |
        & "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" modify --installPath "C:\Program Files\Microsoft Visual Studio\2022\Enterprise" --add Microsoft.VisualStudio.Component.Windows11SDK.22621 --quiet --norestart

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Run Update Version Script
      run: node update-version.js

    - name: Publish .NET App
      run: |
        dotnet publish .\RST.csproj -c Release -r win-x64 -p:PublishSingleFile=true --self-contained true -p:TargetPlatformVersion=10.0.22621.0 -o ./publish_output

    - name: Prepare Release Folder
      shell: cmd
      run: |
        mkdir tempbuild
        
        echo Copying Application Files...
        copy publish_output\* tempbuild
        copy README.md tempbuild
        
        echo Creating Directories...
        mkdir tempbuild\webserver
        mkdir tempbuild\translation_server
        mkdir tempbuild\translation_server\templates
        mkdir tempbuild\webserver\EasyOCR
        mkdir tempbuild\webserver\PaddleOCR
        mkdir tempbuild\webserver\RapidOCR
        mkdir tempbuild\webserver\Python311
        
        echo Copying Resources...
        copy app\webserver\EasyOCR\*.py tempbuild\webserver\EasyOCR
        copy app\webserver\EasyOCR\*.bat tempbuild\webserver\EasyOCR
        copy app\webserver\PaddleOCR\*.bat tempbuild\webserver\PaddleOCR
        copy app\webserver\PaddleOCR\*.py tempbuild\webserver\PaddleOCR
        copy app\webserver\RapidOCR\*.bat tempbuild\webserver\RapidOCR
        copy app\webserver\RapidOCR\*.py tempbuild\webserver\RapidOCR
        copy app\translation_server\*.py tempbuild\translation_server
        copy app\translation_server\*.bat tempbuild\translation_server
        
        if exist app\OneOcr\* copy app\OneOcr\* tempbuild
        
        copy app\translation_server\templates\*.html tempbuild\translation_server\templates
        copy app\webserver\*.bat tempbuild\webserver
        
        echo Copying Python Environment (This might take a while)...
        robocopy app\webserver\Python311 tempbuild\webserver\Python311 /E /NFL /NDL
        if %ERRORLEVEL% LEQ 1 exit 0

    - name: Zip Release
      shell: cmd
      run: |
        7z a -r -tzip RSTGameTranslation_CI_Build.zip tempbuild\*

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: RSTGameTranslation-Build
        path: RSTGameTranslation_CI_Build.zip
